[submodule "bundle/indent-object"]
	path = bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/hardmode"]
	path = bundle/hardmode
	url = https://github.com/wikitopian/hardmode.git
[submodule "bundle/mundo"]
	path = bundle/mundo
	url = https://github.com/simnalamburt/vim-mundo.git
[submodule "bundle/ranger-explorer"]
	path = bundle/ranger-explorer
	url = https://github.com/iberianpig/ranger-explorer.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vimoutliner"]
	path = bundle/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner.git
[submodule "bundle/sneak"]
	path = bundle/sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/uppercase-sql"]
	path = bundle/uppercase-sql
	url = https://github.com/jsborjesson/vim-uppercase-sql.git
[submodule "bundle/readline-rsi"]
	path = bundle/readline-rsi
	url = https://github.com/riceissa/vim-rsi
[submodule "bundle/vimgo"]
	path = bundle/vimgo
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki
